/node_modules
/public/build
/public/hot
/public/storage
/public/assets/images
/public/assets/admin/images
/public/images
/storage/*.key
/vendor
/app/http/Controllers/PaypalController.php
/app/http/Controllers/StripeController.php
.env
.htaccess
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
